/* header */
.header nav h1 {
  float: none;
  text-align: center;
}

.header nav ul {
  float: none;

}

.header nav ul li {
  float: none;
}

.header nav ul li a {
  padding: 10px;
  text-align: center;
}

.vp-content {
  padding-top: 50px;
}

.vp-content h1 {
  font-size: 2rem;
}

/* features */
.feature {
  float: none;
  width: 100%;
  margin-bottom: 2rem;
}

.cp {
  float: none;
  width: 100%;
  margin-top: 20px;
}

/* where */

.where {
  padding: 80px 20px 50px 20px;
  min-height: 100vh;

}

.where-img {
  float: none;
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 3rem;
}

.where-text {
  float: none;
  width: 100%;
  text-align: center;
}

/* contact */
.contact {
  padding: 50px 0px 0px 0px;
  min-height: 100vh;
}

form h1 {
  font-size: 1.2rem;
  text-align: center;
}

form .btn {
  margin-right: 1rem;
}